<div class="wtapps row">
    <div class="content col-sm-12 col-md-8">
        <div class="Sub-headings">About School: </div>
        <div class="start">Our school was initially started as a part of Army School, Jhansi in July 1986. On 6 th May 1997, the school Shifted to its present location of
            <strong>Building No. 58, Hunter Road. On 1 st April 2004</strong>, the school was named as “White Tiger Nursery School”. To ensure standardization and uniformity in all Army Pre-Schools across the country, it was again renamed as Shaurya Army Pre-School on 1 st April 2008. From year 2012 it was again renamed as “White Tiger Pre-Primary School”. The motto of our school is “Stepping Stone to Wisdom” and we ensure that every child climbs the first ladder of formal education with ease and comfort. The school is proud of its well qualified, diligent and dedicated team of teachers who give personal attention to each student. With the positive approach of the School Management Committee, the school is leaving no stone unturned to live up to its reputation of being the best kindergarten in the city.
        </div>
    </div>
    <div class="content col-sm-12 col-md-8">
        <div class="Sub-headings">FDRC</div>
        <div class="start">
            Children are indeed special and unique individuals who have the potential to achieve and experience success. Thus, it is our responsibility as educators to provide them with enriching and stimulating environment in which to grow and develop naturally, so that learning enfolds as they experience the world around them. In White Tiger Army Pre – Primary School, we follow the ECE (Early Childhood Education) curriculum; aptly guided by AWES Delhi from time to time the program, goals are designed keeping in mind the appropriate developmental stage in young children the developmental stages in young children the developmental stages are divided into 6 specific developmental domains for easier mapping of individual progression. The programme goals have established expectations in the 6 developmental domains, for each child to reach by the end of upper kindergarten, they provide educators with the guidance to plan and provide children with secure foundations for future learning.
        </div>
    </div>
</div>
