<div class="wtapps row pdesk">
    <div class="content col-sm-12 col-md-12">
        <div class="Sub-headings">
            <div class="">PRINCIPAL &amp; CHIEF EDITOR</div>
        </div>
        <div class="frame">
            <div class="start col-md-offset-2 col-md-8 ">
                <div class="page-section"></div>
                <div class="page-section">
                    Every child is a different kind of flower and all together, they make this world a beautiful garden.
                    <p>The past one year has been the most meaningful and fruitful for the development of school Curriculum and infrastructure. Our school is working towards the holistic all round development of the children. Today I feel most satisfied and glorified looking at progress of these tiny tots helping them in grooming at such a tender age. I personally have learnt a lot which has helped in managing the work within.</p>
                    <p>I also convey my deepest gratitude to the patron the Chairperson and the Chairman for providing an opportunity for the school to grow &amp; flourish.</p>
                    <p>I am sure and confident that the school will continue to make the children shine bright like the Diamond in the sky</p>
                    <div class="greetings">
                        <div>Ms. Sarika Tyagi</div>
                        <div>Principal &amp; Chief Editor</div>
                        <div>White Tiger Pre Primary School, Jhansi Cantt</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
