<div class="wtapps row">
    <div class="content col-sm-12 col-md-8">
        <div class="Sub-headings">UKG programs</div>
        <div class="start">
           
            <div class="page-section">
                <div class="title">UKG</div>
                <div class="page-section">
                    Mat making, hat making, card making, nail &amp; vegetable printing, cut and paste, collage making, fruit salad making, rakhi and diya making and decoration, mud pot decoration, seed germination and maintenance of kitchen garden, nature walk and talk, model discussion, festival celebrations, visit to a viation base.
                </div>
            </div>
             <div class="page-section">
            </div>
        </div>
    </div>
</div>
