<div class="wtapps row">
    <div class="content col-sm-12 col-md-8">
        <div class="Sub-headings">Programs</div>
        <div class="start">
            <div class="page-section">
                <div class="title">Nursery</div>
                <div class="page-section">
                    Clay Modeling , slate Scribbling, Sand &amp; Air Tracing, Finger Thumb &amp; Palm Printing, Sorting, beading, serration and sequencing, cotton dabbing, zipping, buttoning, lemonade making, free play, festival celebration, visit to orphanage, coloring.
                </div>
            </div>
            <div class="page-section">
                <div class="title">LKG</div>
                <div class="page-section">
                    Paper Folding , Mask Making , leaf printing, cotton Pasting, Diya Decoration, Rakhi making, shoe lacing, tear pasting , fruit salad making, sapling plantation, love for animals, walk in the traffic park, festival celebration, visit to religious places, drawing.
                </div>
            </div>
            <div class="page-section">
                <div class="title">UKG</div>
                <div class="page-section">
                    Mat making, hat making, card making, nail &amp; vegetable printing, cut and paste, collage making, fruit salad making, rakhi and diya making and decoration, mud pot decoration, seed germination and maintenance of kitchen garden, nature walk and talk, model discussion, festival celebrations, visit to a viation base.
                </div>
            </div>
        </div>
    </div>
</div>
