<div class="wtapps row contactus">
    <div class="content col-sm-12 col-md-10">
        <div class="Sub-headings">
            <div>Contact and Address</div>
        </div>
        <div class="page-section">
            <div class="page-section contact-info">
                <div class="street-name">White Tiger Army Pre Primary School</div>
                <div class="road">Hunter Road, Jhansi Cantt</div>
                <div class="phone"><span>Phone No.:</span>0510- 2370700</div>
                <div class="mobile"><span>Mob No.:</span> 8934094859</div>
                <div class="email"><span>Email:</span><span class="email-id"> wtapps1@gmail.com</span></div>
            </div>
        </div>
    </div>
</div>
