<div class="wtapps row">
    <div class="content col-sm-12 col-md-12">
        <div class="Sub-headings">Gallery</div>
        <div class="start">
            <div class="page-section">
                <div class="col-sm-4 gallery-view" ng-repeat="image in images">
                    <a href="./src/gallery/{{image.imageUrl}}" data-lightbox="roadtrip">
                        <img src="./src/gallery/{{image.imageUrl}}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
