
<div class="wtapps row">
    <div class="content col-sm-12 col-md-8">
        <div class="Sub-headings">
            <div class="">Classes And Teaching</div>
        </div>
        <!-- <div class="start">
            <div class="page-section">
                In the years to come school aims at providing quality education to children keeping in peace with the new advancements in the field of pre-school education.
                <div class="page-section">
                    Children learn more by exploring rather than by teaching keeping this in mind we aim at development of following projects in our school.
                </div>
            </div>
            <div class="list">
                <ul>
                    <li>Nature Park</li>
                    <li> E-Learning </li>
                    <li> YouTube learning in every class. </li>
                    <li> Provision of kindles</li>
                    <li>Snake and ladders</li>
                </ul>
            </div>
            With the hope that these projects will help in the holistic development of the children in a progressive way.
        </div> -->
    </div>
</div>
