<div class="wtapps row">
    <div class="content col-sm-12 col-md-8">
        <div class="Sub-headings">
            <div class="">Facilities</div>
        </div>
        <div class="start">
            <div class="page-section">
            </div>
            <div class="page-section">
                <div class="title">
                    Infrastructure Facilities
                </div>
                <div class="page-section">
                    <div list list-data="listData"></div>
                </div>
            </div>
        </div>
    </div>
</div>
