<div class="wtapps row">
    <div class="content col-sm-12 col-md-8">
        <div class="Sub-headings">Academic Syllabus </div>
        <ul class="list-group">
            <li class="list-group-item">
                <a href="./src/docs/SYLLABUS_Nursery.pdf" target="_blank">Nursery Syllabus</a></li>
            <li class="list-group-item">
                <a href="./src/docs/SYLLABUS_LKG.pdf" target="_blank">LKG Syllabus</a></li>
            </li>
            <li class="list-group-item">
                <a href="./src/docs/SYLLABUS_UKG.pdf" target="_blank">UKG Syllabus</a></li>
            </li>
        </ul>
    </div>
</div>
